
<div class="img-container">
    <div class="main-image-box">
        <img src="/testImgs/img1.jpg" class="main-image">
    </div>
    
    <div class="second-col">
        <div class="second-image-box">
            <img src="/testImgs/img2.jpg" class="second-image">
        </div>
        <div class="third-image-box">
            <img src="/testImgs/img3.jpg"class="third-image">
        </div>
    </div>

    <div class="third-col">
        <div class="forth-image-box">
            <img src="/testImgs/img4.jpg" class="forth-image">
        </div>
        <div class="fifth-image-box">
            <img src="/testImgs//img5.jpg" class="fifth-image">
        </div>
    </div>
</div>

<div class="info-container">

    <div class="icon"> <image class="profile-pic" src='{{profile}}'></image> </div>

        <div class="description">

            <div class="caption">{{caption}}</div>
            {{description}}
        </div>

        <div class="empty-space"></div>

        <div class ="extra-details-container">

            <div class="extra-details">

                ${{price}}
                <ul>
                    <li>WALK: {{walking}} minutes</li>
                    <li>BIKE: {{bicycle}} minutes</li>
                    <li>CAR: {{car}} minutes</li>
                    <li>ROOMS: {{nBedrooms}} </li>
                    <li>EMPTY ROOMS: {{emptyRooms}}</li>
                </ul>
            </div>

        </div>

</div>