<main class="house-container">
  {{#each house}}
  <article class="house">
    <div class="house-content">
      <a href="#" class="house-image"><image src='{{img}}'></a>
      <p class="house-text">
        <a href="#">{{caption}}</a>
      </p>
      <div class="distance">
              <div class="walking">
                      <image class="transport_img" src='images/walking.png'>
                              <div class="time">
                                        <p class="digits">{{walking}}</p>
                                        <p class="minutes">min</p>
                              </div>
              </div>
              <div class="bike">
                      <image class="transport_img" src='images/bicycle.png'>
                              <div class="time">
                                        <p class="digits">{{bicycle}}</p>
                                        <p class="minutes">min</p>
                              </div>
              </div>
              <div class="car">
                      <image class="transport_img" src='images/car.png'>
                              <div class="time">
                                        <p class="digits">{{car}}</p>
                                        <p class="minutes">min</p>
                              </div>
              </div>
      </div>
      <div class="author">
              <image class="human" src='{{profile}}'>
              <p class="house-author">
                <a href="#">{{name}}</a>
                <a href="#">#{{major}}</a>
                <a href="#">#{{year}}</a>
              </p>
     </div>
     <p class="price">${{price}}</p>
    </div>
  </article>
  {{/each}}

</main>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-house-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Price</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="house-input-element">
        <label for="house-text-input">Low</label>
        <input type="number">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Apply</button>
    </div>

  </div>
</div>
